* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}


body {
  background-color: #ACA69F;
}

.header {
  width: 100vw;
  background-color: rgb(84, 84, 84);
  padding: auto;
  align-items: center;
  position:fixed;
  z-index: 1;
}

.dropdown{
	float:left;
	align-items: middle-left;
	
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown .dropBUTAO {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.bg {
  width: 70vw;
  margin: auto;
  height: 100vh;
  background-color: rgb(190, 183, 175);
 
}

.logo {
  width: 125px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
   transition: 0.5s;
}

.logo:hover{
	transform: scale(1.05);
	transform: rotate(45deg);
}

.img1 {
  margin: auto;
  width: 450px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 40px;
  transition: 0.5s;
}

.img1:hover{
	transform: scale(1.15);
}

.txt {
  font-size:20px;
  font-weight: bold;
  max-width: 600px;
  text-align: center;
  margin: auto;
  padding-top: 30px;
  background-color: rgba(221, 205, 185, 0.925);
  height: 45px;
}

#pad {
  padding-top: 150px;
} 



@media(max-width: 376px) {

}

::-webkit-scrollbar {
  opacity: 0;
} 
